{
  "extends": ["@lissone/eslint-config/next"],
  "rules": {
    "@next/next/no-img-element": "off", // not necessary to optimize images with next/image

    "import/no-unresolved": ["off", { "ignore": ["react-scroll"] }] // import reference bug with react-scroll
  },
  "settings": {
    // import reference bug with react-scroll 
    // => without "main" property on package.json
    "import/resolver": {
      "alias": {
        "map": [
          ["react-scroll", "./node_modules/react-scroll"]
        ],
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    }
  }
}
